  <div class="navbar">
    <div class="search">
      <label>Search</label>
      <input type="text" name="index" placeholder="Search cocktail">
    </div>
    <div class="add">
      <a href="<%= new_cocktail_path %>"><button>Your Cocktail</button></a>
    </div>
  </div>
  <div class="banner">
    <div class="container">
      <h1>Your Cocktail <br>Your lifestyle<br>Your book</h1>
      <p>Change your life and learn to make cray cocktails at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>

<div class="container">
  <div class="cardbox">
    <!-- Cards should be place here</!-->
    <div class="cards">
      <% @cocktails.each do |cocktail|%>
    <div class="card-product">
      <%= cl_image_tag cocktail.photo.key, height: 150, width: 150, crop: :fill %>
      <div class="card-product-infos">
      <h2><%= cocktail.name %></h2>
      <% @dose_ids = cocktail.dose_ids %>
      <% @dose_ids.each do |ingredient| %>
      <p><%= Dose.find(ingredient).ingredient.name %> - <%= Dose.find(ingredient).description %></p>
      <% end %>
      <p><%= link_to "Update?", cocktail_path(cocktail) %></p>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
    <!-- Footer here</!-->
  <div class="footerr">
    <span>This is footer</span>
  </div>
